@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
}

body {
    background: #F19B33; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F59B20, #FDC70F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F59B20, #FDC70F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F59B20, #FDC70F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F59B20, #FDC70F); /* Standard syntax */
}

body, input, select, textarea {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 17pt;
  font-weight: 300;
  line-height: 1.65;
}

footer {
  font-size: 14pt;
}

@media (min-width: 1600px) {
  .container {
      width: 1570px;
  }
}

  @media screen and (max-width: 1600px) {

    body, input, select, textarea, footer {
      font-size: 14pt;
    }

  }

  @media screen and (max-width: 1200px) {

    body, input, select, textarea, footer {
      font-size: 11pt;
    }

  }

  @media screen and (max-width: 360px) {

    body, input, select, textarea, footer {
      font-size: 11pt;
    }

    section {
      padding: 1em;
    }

  }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-top: 120px;
  color: #FFFFFF;
}

header small {
  color: #FFFFFF;
  font-weight: 300;
}

header p {
  font-weight: 300;
}

header .header-content {
  margin-top: 105px;
  margin-bottom: 50px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
    color: #000;
    text-decoration: none;
}

nav {
		-moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
		-webkit-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
		-ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
		transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
		background-color: #F2F2F0;
		color: #636363;
		padding: 1em 3em;
		background-color: #F2F2F0;
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
		cursor: default;
		text-align: center;
}
@media screen and (max-width: 991px) {
  nav {
    padding: 1em;
  }
}

.nav>li {
  vertical-align: middle;
}
.nav>li>a {
  font-size: 17pt;
  font-weight: 100;
}
.nav>li>a.active, .nav>li>a.active:focus, .nav>li>a.active:hover {
  color: #fff;
  background-color: #F19B33;
}
.nav>li>a:hover {
  background-color: #ddd;
}

footer {
  margin: 78px 0px;
  font-weight: 400;
}

footer img.footer-logo {
  margin-bottom: 30px;
}

footer .company-info {
  margin-top: 50px;
}

footer .company-info span {
  display: block;
  height: 60px;
  line-height: 60px;
}

footer .company-info .icon {
  display: inline;
  width: 2em;
  margin-right: 1em;
}

.highlight {
  background-color: #F19B33;
  color: #fff;
}

.circle {
  display: inline-block;
  width: 2em;
  height: 2em;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  padding-top: 0.2em;
}

.white {
  background-color: #fff;
  color: #F19B33;
}

.text-center {
  text-align: center;
}

.btn.outline {
    background: none;
    padding: 0.5em 2em;
}
.btn-primary.outline {
    border: 0.1em solid #F19B33;
    color: #F19B33;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
