#eduinfo {
  padding-top: 3em;
  padding-bottom: 3em;
}

#eduinfo .eduinfo-title {
  font-size: 2em;
  font-weight: 700;
  /*  shadows render better in certain browsers than text, first rule is for older browser support  */
  color: #333;
  color: transparent;
  text-shadow: 0 0 #333, .08em 0 0 #fff, 0 0, -.08em 0 0 #fff;
  /*  gradient background allows us to use css only & re-position it  */
  background: -webkit-linear-gradient(#F19B33, #F19B33) left 1.80em no-repeat;
  background: linear-gradient(#F19B33, #F19B33) left 1.80em no-repeat;
  /*  can precisely control size in relation to the text  */
  background-size: 80% 0.2em;
  /*  now the underline supports transitions  */
  -webkit-transition: .2s ease;
  transition: .2s ease;

  display: inline-block;
  height: 2em;
  margin-bottom: 1em;
}

#eduinfo .youtube-wrapper {
  position: relative;
  padding-bottom: 20em;
  padding-top: 1em;
  height: 0;
}

#eduinfo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
